<!-- 
============================================
Title: _footer.ejs
Author: Erin Brady
Date: 4 February 2023
Description: Express.js Partial Footer for Pets-R-Us App
============================================
-->

<footer>
    <p>Images Courtesy of Unsplash.</p>
    <p>
        &copy; Erin Brady <script>document.write(new Date().getFullYear())</script> - <a href="https://www.bellevue.edu/">Bellevue University</a>
    </p>
</footer>
