<!-- 
============================================
Title: _header.ejs
Author: Erin Brady
Date: 4 February 2023
Description: Express.js Partial Navigation Bar for Pets-R-Us App
============================================
-->

<nav>
    <a href="/" class="nav-link" id="logo">Pets-R-Us</a>
    <div id="nav-links">
        <button class="btnBookAppt">Book An Appointment</button>
        <div class="dropdown">
            <span class="nav-link">Services</span>
            <div class="dropdown-content">
                <a href="/grooming" class="nav-link">Grooming</a>
                <a href="/training" class="nav-link">Training</a>
                <a href="/boarding" class="nav-link">Boarding</a>
            </div>
        </div>
    </div>
</nav>
