/* 
============================================
Title: grooming.css
Author: Erin Brady
Date: 29 January 2023
Description: Styling for Pets-R-Us Grooming Page
============================================
*/

/* Content sections */
section {
    background-color: white;
    width: 90%;
}
