/* 
============================================
Title: grooming.css
Author: Erin Brady
Date: 29 January 2023
Description: Styling for Pets-R-Us Grooming Page
============================================
*/

/* Content sections */
section {
    background-color: white;
    width: 90%;
}

/* Grid layout */
#grooming-layout {
    display: grid;
    grid-template-areas: 
        "grooming-info img"
        "grooming-services img";
    width: 95vw;
    margin: 20px auto;
}

#grooming-img {
    grid-area: img;
}

#grooming-info-container {
    grid-area: grooming-info;
}

#grooming-services-container {
    grid-area: grooming-services;
    display: grid;
    grid-template-areas: 
        "title title title"
        "standard-services special-services extra-services";
    grid-template-columns: 28% 44% 28%;
}

#service-list-header {
    grid-area: title;
}

#standard-services {
    grid-area: standard-services;
}

#special-services {
    grid-area: special-services;
}

#extra-services {
    grid-area: extra-services;
}